html {
  font-size: 62.5%;
  /*主要ブラウザのフォントサイズは16pxのため
  　×0.625でfont-sizeの基準を10pxにしている*/
  height: 100%;
}

body{
  height: 100%;
}

.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.header{
  background-color: #03A9F4;
  height: 50px;
  font-size: 1.5rem;
  color: #fff;
}

.logo_image{
  width: 110px;
  float: left;
  margin: 0;
}

.TOP_image{
  width: 100%;
  margin: 0;
}

.top_menu li{
  float: right; /*浮かせて横並びにして左寄せ*/
  width: auto;
}

/*
.top_menu li a{　/*文字色を白に変更し、余計な下線を削除
  text-decoration: none;
  display: block; /*ブロックにすることで広い範囲で反応する
  padding: 15px;
  color: #fff;
} 
*/

.top_menu li a:hover{ /*マウスオーバしているときだけcssをあてる*/
  text-decoration: underline;
}

/*

.clearfix:after{    /*疑似要素を作成
  content: "";      /*見えないコンテンツを作成
  display: block;   /*コンテンツに高さと幅を与える
  clear: both;　　　/*float解除（leftでもrightでもbothで解除）
}
*/


ul{ /*余計な余白を削除*/
  margin: 0;
  padding: 0;
}

li{ /*余計な黒丸を削除*/
  list-style: none;
}

.image_area{
  width: 100%;
}

.side_menu{
  width: 300px;
  float: left;
}

.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}

.side_menu li{
  background-color: #03A9F4;
  height: 6rem;
  margin-bottom: 10px;
}

.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}

.banner img{
  width: 100%;
}

.banner{
  margin-top: 20px;
}

.parent a:hover img{
  background-color: #000;
  opacity: 0.5;
}

.parent a:hover{
  background-color: #fff;
  opacity: 0.5;
}

.content{
  width: 600px;
  margin-left: 20px;
  float: right;
  font-size: 1.5rem;
}

.tweet{
  height: 550px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
}

.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #03A9F4;
  display: table;
}

.footer p{
  font-size: 2rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.menu{
  display: table;
  width: 100%;
}

.menu li{
  display: table-cell;
  text-align: center;
}

.side_menu .point{
  background-color: #03A9F4;
}
.side_menu .point a{
  color: #4D4D4D;
}

