<!DOCTYPE html>
<html>
<head>
  <title>Kametweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>
 <footer class="footer">
    <p>Copyright © 2017 kametweet All RIGHTS RESERVED.</p>
 </footer>

<!-- divでfooterを囲むことによって、containerの範囲の中にfooterを入れます -->
</div>
</div>
</body>

</html>
